h1{
    color: azure;
    
}

body{
   
    
     background-color: #34495e;
 }

.inicio{
    background-image: url(/imagenes/image.png);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-size: cover;

}

.image1{
    height: 250px;
    width: 200px;
    position: relative;
    top: 50%;
    left: 70%;

}


.bloquetext{
    height: 200px; 
    width: 300px;
    
    display: inline-table;
}
.descripcion{
    font-family: 'Times New Roman', Times, serif;
    display: table-cell;
    vertical-align: middle;
}

li{
    color: blue;
}


.form-control{
    height: 150px;
    width: 400px;
}